.test {
    margin-top: 100px;
}
.div {
    background-color: green;
    height: 100px;
    width: 200px;
    margin-left: 200px;
}
.div sub {
    background-color: yellow;
    height: 50px;
}
.button {
    background-color: red;
    width: 200px;
    margin-left: 300px;
    padding-top: 20px;
    margin-top: 50px;
}